<link rel="stylesheet" media="screen" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap.css")">
<html>
<head>
    <title>Updated Order...</title>
</head>

<body>

<div class="container alert alert-success">
    <div class="brand">
    <h1>Your order has been successfully updated.</h1>
    </div>
</div>
<div class="navbar navbar-fixed-bottom">
    <div class="navbar-inner">
        <div class="container">
            <div class="brand">Sample Java App for demonstration purpose</div>
        </div>
    </div>
</div>
</body>

</html>
